* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 1rem;
    padding: 1rem;
    width: calc(100% / 5 - 2rem);
    border: 1px solid black;
}
